<link rel='stylesheet' href='/stylesheets/home-style.css' />

<div id="content">
    <p>Hi name!</p>
    <img id="image" src="/images/stickfigure.png">
    <p id="saved-text">You saved Bob xxx times!</p>
    <form method="get" action="/play">
        <button id="play-button">Play</button>
    </form>
</div>