<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/global-style.css'/>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  </head>
  <body>
  <header>
      <nav>
          <ol>
              <li id="title">Hangman</li>
              <li id="space"></li>
              <li class="nav-element"><a href="/">Home</a></li>
              <li class="nav-element"><a href="/ranking">Ranking</a></li>
          </ol>
      </nav>
  </header>
    {{{body}}}
  <footer>
      <span>by Joel Hirzel und Jonas Knupp for the Challenge Task @DS1</span>
  </footer>
  </body>
</html>
