<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/global-style.css' />
    <link rel='stylesheet' href='/stylesheets/login-style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
<div id="content">
    <h1>Hangman</h1>
    <form method="post">
        <input placeholder="username" type="text">
        <input placeholder="password" type="password">
        <button formaction="/login">login</button>
        <button formaction="/register">register</button>
    </form>
</div>
</body>
</html>

