<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/global-style.css" />
    <link rel="stylesheet" href="/stylesheets/login-style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
<div id="content">
    <h1>Hangman</h1>
    <form id="form" method="post">
        <input name="username" id="input-username" placeholder="username" type="text" minlength="3" required>
        <input name="password" id="input-password" placeholder="password" type="password" minlength="6" required>
        <button id="login-button" formaction="/login">login</button>
        <button formaction="/register">register</button>
    </form>
    {{#if hint}}
        <div id="hint-container">
            {{hint.Text}}
        </div>
    {{/if}}
</div>
</body>
</html>

