:root {
  --blue: #55aaff;
  --red: #eb3434;
  --font-size: 30px;
  /*--font-family:'Chalkduster', fantasy;*/
  --font-family: 'Comic Sans MS', fantasy;
}

body{
  font-family: var(--font-family);
  font-size:var(--font-size);
  margin:0;
  display:grid;
  grid-template-rows:min-content 1fr min-content;
  height:100vh;
}

input{
  font-size:var(--font-size);
  font-family: var(--font-family);
}

button{
  font-family: var(--font-family);
  font-size:var(--font-size);
}

nav{
  border-bottom:1px solid black;
  background-color:var(--blue);
  padding-left:40px;
  padding-right:40px;
}

.nav-element a{
  margin: 0 5px;
  padding: 10px 24px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: background-color ease-in 200ms;
  border-radius: 320px;
}

.nav-element a:hover {
  transition: background-color ease-in 200ms;
  background-color: #9dd5ff;
}

#logout-button {
  border-radius: 320px;
  color: white;
  background-color: #b82b2b;
}

#logout-button:hover {
  transition: background-color ease-in 200ms;
  background-color: #f2949b;
}

nav ol {
  list-style-type:none;
  display:flex;
  padding-left: 0;
  margin:0;
}

nav ol li{
  align-self: center;
}

#title{
  font-size: 60px;
  font-family: 'Kalam', cursive;
}

#space{
  flex-grow:1;
}

p{
  margin:0;
}

nav{
  margin-bottom: 20px;
}

#play-button{
  width:200px;
  height:75px;
  justify-self:center;
  background-color:white;
  border-radius:0;
  transition:all ease-in 200ms;
}

#play-button:hover{
  transition:all ease-in 200ms;
  background-color:var(--red);
  color:white;
  border-radius:0;
}

#play-button:active{
  transform: translateY(2px);
}

button:focus, button:active, button:hover{
  outline: none;
}

h1{
  margin: 0px;
  text-align:center;
  font-size: 50px;
}

.website-content{
  width:100%;
  margin-bottom:20px;
}

footer span{
  text-align:center;
  display: block;
  font-size:15px;
  opacity: 60%;
  margin-bottom:20px;
}

footer{
  position:static;
}

a:visited{
  color:black;
}