#content{
    margin: 0 auto;
    display:grid;
    width:60%;
    justify-content: center;
}

#image{
    width:200px;
    height:300px;
    background-color:white;
}

p{
    text-align:center;
}

form{
    display:contents;
}


#saved-text{
    margin-bottom:20px;
}