#content {
  margin: 0 auto;
  width: 60%;
  font-size: 50px;
  display: grid;
}

h1 {
  margin-top: 20px;
}

body {
  background-color: var(--blue);
}

input {
  display: block;
  width: 300px;
  height: 60px;
  padding: 12px 20px;
  border-width: 2px;
  box-sizing: border-box;
  outline: 0;
}

button {
  width: 300px;
  height: 60px;
  background-color: white;
}

button:active {
  transform: translateY(2px);
}

button:hover {
  transition: background-color ease-in 200ms;
  background-color: lightgray;
}

#content * {
  justify-self: center;
}

#input-username {
  margin-bottom: 10px;
}

#input-password {
  margin-bottom: 10px;
}

#form {
  display: contents;
}

#login-button {
  margin-bottom: 5px;
}

#hint-container {
  margin-top: 20px;
  font-size: 20px;
}
